{% extends 'base.html' %}
{% block titulo %}Gestión{% endblock titulo %}

  <!-- ======= Breadcrumbs ======= -->
  {% block etiqueta  %}Gestión{% endblock etiqueta  %}
  {% block nav %}
  <nav>
    <div class="container">      
    <ol>     
      <li><a href="{% url 'index' %}">Home</a></li>
      <li>Gestión</li>
      <li></li>
    </ol>      
  </div>
  </nav>
  {% endblock nav %}
  
  <!-- End Breadcrumbs -->
    
  {% block contenido %}
  
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row gx-lg-0 gy-4">
          
        <!-- Datos del reclamo -->
          <h4>Datos del reclamo Nro: {{ nro_reclamo }}</h4>
          <hr>
        </div>

            
        <section id="contact" class="contact">
          <div class="container aos-init aos-animate" data-aos="fade-up">
            
              <div class="col-lg-8">
                <form class="php-email-form" id="" name="gestion_form" action="{% url 'gestion_editar_reclamo' nro_reclamo %}" method="POST">
                    {% csrf_token %}

                  <!-- Formulario Contacto -->  
                  <br>
                  <h4>Datos de Contacto</h4>
                  <hr>      
                  <table class="table">
                    {{ form_contacto.as_table }}
                  </table>

                  <!-- Formulario Inspector -->  
                  <br>
                  <h4>Datos de Inspector</h4>
                  <hr>      
                  <table class="table">
                    {{ form_inspector.as_table }}
                  </table>

                  <!--Formulario Inspeccion-->
                  <br>
                  <h4>Datos de Inspección</h4>
                  <hr>
                    
                  <table class="table">
                    {{ form_inspeccion.as_table }}
                  </table>

                  <!--Formulario Gestion-->
                  <br>
                  <h4>Datos de Gestión</h4>
                  <hr>
                    
                  <table class="table">
                    {{ form_gestion.as_table }}
                  </table>

                  <!--Botones-->
                  <div class="row">
                    <div class="text-center col-md-4 form-group mt-5 mt-md-0">
                      <input type="button" class="btn btn-primary btn-lg" value="Volver">
                    </div>
                    <div class="text-center col-md-4 form-group mt-5 mt-md-0">
                      <input type="reset" class="btn btn-warning btn-lg" value="Limpiar">
                    </div>
                    <div class="text-center col-md-4 form-group mt-5 mt-md-0">
                      <input type="submit" class="btn btn-success btn-lg" value="Guardar">
                    </div>
                  </div>
                </form>  
              </div>  
          </div>
        </section>
      </div>
    </section>
  
{% endblock contenido %}
