{% extends 'reclamos/base.html' %}
{% block contenido %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Nuevo Reclamo</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Nuevo reclamo</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Claim Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-2"></div>

          <div class="col-lg-8">
            <form action="" method="post" role="form" class="php-email-form">
              
              <h2>Datos del reclamo</h2>
              <hr>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Número" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Medio" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Fuente" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Fecha" required>
                </div>
              </div>
              <br>

              <h2>Datos del vecino</h2>
              <hr>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Apellido" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="DNI" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Celular" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Teléfono fijo" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required>
                </div>
              </div>
              <br>

              <h2>Datos del árbol</h2>
              <hr>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Calle" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Altura" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Edificio" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Departamento" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Entre calle 1" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Entre calle 2" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Localidad" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Reclamo" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Urgencia" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Detalle" required></textarea>
              </div>
              <br>
              <div class="row">
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: orange;" type="submit">Cancelar</button></div>
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button type="submit">Limpiar</button></div>
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: lightblue;" type="submit">Siguiente</button></div>
              </div>
              
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock contenido %}