{% extends 'reclamos/base.html' %}
{% block contenido %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2><u>Reclamos</u></h2>
                    <h2>{{nombre}}</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>

                <li><a href="{% url 'index' %}">Home</a></li>

                <li>Reclamos</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<div class="container" data-aos="fade-up">
    <br>
    <h2>FechaSeguimiento: {{fechaActual|date:'d / m / y'}}</h2> <!-- 16 / 04 / 23 -->
    <h3>N° de novedades: {{lista|length}} </h3>
    <ul>
        {% for elemento in lista %}
        <li>
            <a href="{% url 'seguimiento-reclamo' forloop.counter %}">{{elemento}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock contenido %}