{% extends 'base/base.html' %}
{% load i18n %}

{% block css %}
  <style>
    label {
      color: #008375;
      min-width: 15rem;
    }
    .btn-login {
      background: #008374;
      border: 0;
      margin-top: 50px;
      padding: 15px 50px;
      color: #fff;
      transition: 0.4s;
      border-radius: 0.375rem;
    }
  </style>
{% endblock css %}

{% block contenido %}
  <main id="main">
    <!-- ======= Claim Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row gx-lg-0 gy-4">
          <div class="col-lg-2"></div>
          <h4>Sesión cerrada exitosamente</h4>
          <hr>
          <h2>Gracias por utilizar Sistema Gestion de Reclamos</h2>
          <div class="col-lg-8">
            
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
              {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %} 
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endif %}
              <br>
              <div class="php-email-form">
              <div class="text-center col-md-12 form-group mt-3 mt-md-0">
                <h4>Volver a ingresar</h4>
                <a class="btn-login" type="button" rol="link" href="{% url 'login' %}">
                  Inicio
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Claim Section -->
  </main>
{% endblock contenido %}