{% extends "base/base.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}
{% block css %}
  <style>
    label {
      color: #008375;
      min-width: 15rem;
    }
    .btn-login {
      background: #008374;
      border: 0;
      padding: 14px 10px;
      color: #fff;
      transition: 0.4s;
      border-radius: 0.375rem;
    }
  </style>
{% endblock css %}
{% comment %}{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endblock %} {% endcomment %} 

{% block contenido %}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
          <h2>Cambio de contraseña exitoso</h2>
          <h4>Para ingresar utiliza tu nueva contraseña</h4>
        </div>
        </div>
    </div>
</section>

{% endblock contenido %}
