{% extends "base/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}</div>
{% endblock %}

{% block contenido %}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="col-md-12">
            <div class="php-email-form">
                <h4>Recuperacion de contraseña exitosa</h4>
                <hr />
                <br>
                <div class="row">
                <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

                <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

            </div>
          </div>
        </div>
        </div>
      </div>
    </section>


{% endblock %}
