{% extends "base/base.html" %}
{% load i18n static %}

{% comment %}{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}{% endcomment %}

{% block breadcrumbs %}

{% block css %}
  <style>
    label {
      color: #008375;
      min-width: 15rem;
    }
    .btn-login {
      background: #008374;
      border: 0;
      padding: 14px 45px;
      color: #fff;
      transition: 0.4s;
      border-radius: 0.375rem;
    }
    input[type=email] {
      padding: 12px 15px;
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      height: 30px;
      display: block;
      width: 100%;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
    }
  </style>
{% endblock css %}

<!-- <div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div> -->
{% endblock %}

{% block contenido %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-2"></div>

      <div class="col-lg-8">
        <div class="col-md-12">

<!-- <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p> -->

<form method="post" class="php-email-form">{% csrf_token %}
  <h4>Recuperar contraseña</h4>
  <hr />
  <div class="row">
  <div class="col-md-6 form-group mb-1">
    <!-- <fieldset class="module aligned"> -->
        <!-- <div class="form-row field-email"> -->
        {{ form.email.errors }}
        <label class="form-label" for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
        <!-- </div> -->
        <br>
        <input class="btn-login" style="border-radius: 0.375rem" type="submit" value="{% translate 'Reset my password' %}">
    <!-- </fieldset> -->
  </div>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock contenido %}
