{% extends 'base/base.html' %}
{% block titulo %}Login{% endblock titulo %}

{% block contenido %}
  <main id="main">
    <!-- ======= Claim Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row gx-lg-0 gy-4">
          <div class="col-lg-2"></div>

          <div class="col-lg-8">
            <div class="col-md-12">
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
              {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %} 
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endif %}
            </div>
            <form action="" method="post" role="form" class="php-email-form" >
              {% csrf_token %}

              <h4>Login</h4>
              <hr />
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <label class="form-label" for="form3Example3">Nombre de usuario</label>
                  <input type="text" id="{{ form.username.auto_id }}" name="{{ form.username.name }}" class="form-control" value="{{ form.username.value | default:'' }}" placeholder="Ingresa el nombre de usuario"
                    required />
                </div>
              </div>
              <div class="error">{{form.username.errors}}</div>
              <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <label class="form-label" for="form3Example4">Contraseña</label>
                  <input type="password" class="form-control" id="{{ form.password.auto_id }}" name="{{ form.password.name }}" placeholder="Ingresa la contraseña" value="{{ form.password.value | default:'' }}"
                    required />
                </div>
              </div>
              <div class="error">{{form.password.errors}}</div>
              <!-- <div class="row">
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="check" class="form-control" name="session" id="check" />
                </div>
              </div> -->
              <br />
              <div class="row">
                <div class="text-center col-md-4 form-group mt-3 mt-md-0">
                  <button style="background-color: rgb(46, 71, 236)" type="submit">
                    Iniciar sesión
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Claim Section -->
  </main>
{% endblock contenido %}