<!DOCTYPE html>

<html lang="es">

<head>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="keywords" />

    <title>{% block titulo %}{% endblock titulo %} | SGR.</title>

  <!-- Cargar estáticos-->
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  {% load static %}
  <link href="{% static '/administracion/css/styles.css'%}" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'assets/img/favicon/site.webmanifest' %}" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  {% block css %}{% endblock css %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <h1>SGR<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'reclamo_form' %}">Nuevo Reclamo</a></li>
          <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
          <li class="dropdown">
            <a href="{% url 'index_inspeccion' %}"><span>Inspección</span></a>
            <ul>
              <li><a href="{% url 'carga_inspeccion' %}">Cargar de Inspección</a></li>

              <li><a href="{% url 'carga_certificacion' %}">Cargar de Certificación</a></li>
              <li><a href="{% url 'db_inspeccion' %}">Inspecciones realizadas db</a></li>
              

            </ul>
          </li>
          <li><a href="{% url 'gestion' %}">Gestión</a></li>
          <li><a href="{% url 'admin' %}">Administración</a></li>
          <li class="dropdown">
            <a href="#"><span>Fulano</span>
              <i class="bi bi-person-circle dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Configuración</a></li>
              <li><a href="#">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header><!-- End Header -->

<!-- ======= Breadcrumbs ======= -->
{% if request.path != "/" %}
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('')">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>{% block etiqueta %}{% endblock etiqueta %}</h2>
          </div>
        </div>
      </div>
    </div>
    {%block nav%}{%endblock nav%}
  </div>
{% endif %}
<!-- End Breadcrumbs -->

  <main id="main">
    {% block contenido %}{% endblock contenido %}
  </main>

  {% include 'base/footer.html' %}

  <!-- JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/inspeccion_index.js' %}"></script>
  {% block javascript %}{% endblock javascript %}

</body>

</html>
