{% extends 'reclamos/base.html' %} 
{% block titulo %}Seguimiento{% endblock titulo %} 


<!-- ======= Breadcrumbs ======= -->
{% block etiqueta  %}Seguimiento{% endblock etiqueta  %}
{% block tag  %}Seguimiento{% endblock tag  %}
{% block link %}{% endblock link %}
<!-- End Breadcrumbs -->
{% block contenido %}




<div class="container" data-aos="fade-up">
  <br />
  <h1>{{ nombre }}</h1>
  <h2>Fecha de seguimiento: {{ fechaActual|date:'d / m / y' }}</h2>
  <h3>N° de novedades: {{ lista2|length|default:"No hay novedades" }}</h3>
  <ul>
    {% for elemento in lista2 %}
    <li>
      <a href="{% url 'seguimiento-reclamo' forloop.counter %}"
        >{{ elemento }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock contenido %}
