{% extends 'base/base.html' %}
{% block titulo %}Nuevo reclamo{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Nuevo reclamo{% endblock etiqueta %}
{% block nav %}
  <nav>
      <div class="container">      
      <ol>     
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Nuevo reclamo</li>
      </ol>      
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <!-- ======= Claim Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <form class="php-email-form" id="" name="nuevo_reclamo" action="{% url 'nuevo_reclamo' %}" method="POST">
            {% csrf_token %}

            {% for campo in nuevo_reclamo %}
              {% comment %} Excluimos el campo 'detalle' {% endcomment %}
              {% if campo.name != 'detalle' %}
                {% comment %} Agrupar los campos de 2 en 2 {% endcomment %}
                {% if forloop.counter0|divisibleby:"2" %}
                  <div class="row">
                {% endif %}

                <div class="col-md-6 form-group mb-3" >
                  <label for="{{ campo.name }}">{{ campo.label }}</label>
                  {{ campo }}
                </div>
                
                {% if forloop.counter|divisibleby:"2" or forloop.last %}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}

            <div class="row">
              <div class="col-md-12 form-group mt-3 mt-md-0">
                <label for="{{ nuevo_reclamo.detalle.name }}">{{ nuevo_reclamo.detalle.label }}</label>
                {{ nuevo_reclamo.detalle }}
              </div> 
            </div>

            <div class="row">
              <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: orange;" type="submit">Cancelar</button></div>
              <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button type="submit">Limpiar</button></div>
              <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: rgb(46, 71, 236);" type="submit">Siguiente</button></div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Claim Section -->
{% endblock contenido %}