{% extends 'base/base.html' %}
{% block titulo %}Nuevo reclamo{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Nuevo reclamo{% endblock etiqueta %}
{% block nav %}
  <nav>
      <div class="container">      
      <ol>     
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Nuevo reclamo</li>
      </ol>      
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <!-- ======= Claim Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="row gx-lg-0 gy-4">

        <div class="col-lg-2"></div>

          <div class="col-lg-8">
            <form class="php-email-form" id="" name="nuevo_reclamo" action="{% url 'nuevo_reclamo' %}" method="POST">
              {% csrf_token %}

              {% comment %} <table class="table"> {% endcomment %}
                {% comment %} {{ nuevo_reclamo.as_table }} {% endcomment %}
                {% for campo in nuevo_reclamo|slice:":-1" %}
                  {% if campo.name != 'detalle' %}
                    {% if forloop.counter0|divisibleby:"2" %}
                      <div class="row">
                    {% endif %}

                    <div class="col-md-6 form-floating mb-3" >
                      {{ campo }}
                      <label for="{{ campo.name }}">{{ campo.widget.attrs.placeholder }}</label>
                    </div>
                    
                    {% if forloop.counter|divisibleby:"2" or forloop.last %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                      </div>

                <div class="row">
                  <div class="col-md-12 form-floating mt-3 mt-md-0">
                    {{ nuevo_reclamo.detalle }}
                    <label for="{{ nuevo_reclamo.detalle.name }}">{{ nuevo_reclamo.detalle.widget.attrs.placeholder }}</label>
                  </div> 
                </div>

              {% comment %} </table> {% endcomment %}
            

              <div class="row">
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: orange;" type="submit">Cancelar</button></div>
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button type="submit">Limpiar</button></div>
                <div class="text-center col-md-4 form-group mt-3 mt-md-0"><button style="background-color: rgb(46, 71, 236);" type="submit">Siguiente</button></div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Claim Section -->
{% endblock contenido %}