{% extends 'base/base.html' %}
{% block titulo %}Seguimiento{% endblock titulo %}
{% block css %}
<style>
  label {
    color: #008375;
  }
  div.text-center button {
    width: 180px;
  }
  button#btn-reset {
    background: DarkTurquoise;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  button#btn-reset:hover {
    background: Turquoise;
  }
  button#btn-button {
    background: Crimson;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  button#btn-button:hover {
    background: Red;
  }
</style>
{% endblock css %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Seguimiento{% endblock etiqueta %} {% block nav %}
<nav>
  <div class="container">
    <ol>
      <li><a href="{% url 'index' %}">Inicio</a></li>
      <li>Seguimiento</li>
    </ol>
  </div>
</nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Medio</th>
          <th scope="col">Número</th>
          <th scope="col">Fuente</th>
          <th scope="col">Fecha de reclamo</th>
          <th scope="col">nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">DNI</th>
          <th scope="col">Celular</th>
          <th scope="col">Fijo</th>
          <th scope="col">Localidad</th>
          <th scope="col">Calle</th>
          <th scope="col">Entre calle 1</th>
          <th scope="col">Entre calle 2</th>
          <th scope="col">Altura</th>
          <th scope="col">Edificio</th>
          <th scope="col">Departamento</th>
          <th scope="col">Reclamo</th>
          <th scope="col">Urgencia</th>
          <th scope="col">Detalles</th>
        </tr>
      </thead>
      <tbody>
        {% for registro in relaciones %}
          <tr>
            <td>
              <a href="{% url 'editar_reclamo' registro.reclamo.id %}" class="btn btn-warning">Editar</a>
              <a href="{% url 'borrar_reclamo' registro.reclamo.id %}" class="btn btn-danger">Borrar</a>
            </td>
            <td>{{ registro.reclamo.get_medio_display }}</td>
            <td>{{ registro.reclamo.numero }}</td>
            <td>{{ registro.reclamo.get_fuente_display }}</td>
            <td>{{ registro.reclamo.fecha }}</td>
            <td>{{ registro.denunciante.nombre }}</td>
            <td>{{ registro.denunciante.apellido }}</td>
            <td>{{ registro.denunciante.correo_electronico }}</td>
            <td>{{ registro.denunciante.dni }}</td>
            <td>{{ registro.denunciante.celular }}</td>
            <td>{{ registro.denunciante.telefono_fijo }}</td>
            <td>{{ registro.reclamo.get_localidad_display }}</td>
            <td>{{ registro.reclamo.calle }}</td>
            <td>{{ registro.reclamo.entre_calle_1 }}</td>
            <td>{{ registro.reclamo.entre_calle_2 }}</td>
            <td>{{ registro.reclamo.altura }}</td>
            <td>{{ registro.reclamo.edificio }}</td>
            <td>{{ registro.reclamo.departamento }}</td>
            <td>{{ registro.reclamo.get_reclamo_display }}</td>
            <td>{{ registro.reclamo.get_urgencia_display }}</td>
            <td>{{ registro.reclamo.detalle }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock contenido %}