{% extends 'base/base.html' %}
{% block titulo %}Reclamo N° {{ nro }}{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Ver reclamo{% endblock etiqueta %}
{% block nav %}
  <nav>
      <div class="container">      
      <ol>     
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
        <li>Ver reclamo</li>             
      </ol>      
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <div class="container" data-aos="fade-up">
      <h1>{{ lista2 }}</h1>
  </div>

  <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row gx-lg-0 gy-4">
          <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <form action="" method="post" role="form" class="php-email-form">
                  <h4>Datos del vecino</h4>
                  <hr>

                  <div class="row">
                      <div class="col-md-6 form-group mt-3 mt-md-0"> 
                          <label><b>Nombre</b></label>                                     
                          <input type="text" name="name" class="form-control" id="name" value={{lista.0}} disabled>
                      </div>                

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label><b>Apellido</b></label> 
                          <input type="text" class="form-control" name="email" id="email" value={{lista.1}} disabled>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label><b>DNI</b></label>
                          <input type="number" name="name" class="form-control" id="name" value={{lista.2}} disabled>
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label><b>Celular</b></label>
                          <input type="number" class="form-control" name="email" id="email" value={{lista.3}} disabled>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label><b>Fijo</b></label>
                          <input type="number" name="name" class="form-control" id="name" value={{lista.4}} disabled>
                      </div>

                      <div class="col-md-6 form-group mt-3 mt-md-0">
                      <label><b>Correo</b></label>
                      <input type="email" class="form-control" name="email" id="email" value={{lista.5}} disabled>
                      </div>
                  </div>
                  <br>              
              </form>
            </div><!-- End Contact Form -->
          </div>
        </div>
      </div>
  </section><!-- End Contact Section -->
{% endblock contenido %}
