{% extends 'base.html' %}
{% block titulo %}Administración{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Administración{% endblock etiqueta %}
{% block nav %}
<nav>
    <div class="container">      
    <ol>     
      <li><a href="{% url 'index' %}">Home</a></li>
      <li>Administración</li>
      <li></li>
    </ol>      
  </div>
</nav>
{% endblock nav %}

<!-- End Breadcrumbs -->

{% block contenido %}{% endblock contenido %}
































































































