{%extends 'base_admin.html'%}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}
{% block contenido %}
                    <table class="table  table-hover  ">
                      <thead class="thead-light  ">
                          <tr>
                            <th scope="col">Empresa</th>
                            <th scope="col">Razón_social</th>
                            <th scope="col">N° proveedor</th>
                            <th scope="col">Cuit</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            
                            <th scope="col" class="text-center" >Acciones</th>                              
                          </tr>
                      </thead>
                      
                        <tbody>
                          {% for data in proveedores %}
                            <tr>
                              <td>{{data.0}}</td>
                              <td>{{data.1}}</td>
                              <td>{{data.2}}</td>
                              <td>{{data.3}}</td>
                              <td>{{data.4}}</td>
                              <td>{{data.5}}</td>                              
                              
                              <td class="text-center">
                                <a class="btn btn-warning "   href="">Editar</a> |
                                <a class="btn btn-danger " onclick = "return alert()" href="">Eliminar</a>
                              </td>        
                            </tr>        
                          {% endfor %}
                        </tbody>  
                    </table> 
                    <div class="row mt-5">
                      <div class="text-center col-md-4 form-group mt-5 mt-md-0"><a href="{%url 'nueva_empresa'%}"><button type="button"
                          class="btn btn-success">Nueva</button></a></div>
                      <div class="text-center col-md-4 form-group mt-5 mt-md-0"><a href="{%url 'admin'%}"><button type="button"
                          class="btn btn-primary">Volver</button></a></div>
                    </div>
                    
                    
                    
                    
                    
                    

{% endblock contenido %}


