
{% extends 'base/base.html' %}
{% block titulo %}Inspección{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Inspeccion-Denunciante{% endblock etiqueta %}
{% block nav %}
  <nav>
      <div class="container">      
      <ol>     
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Inspección</li>
      </ol>      
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->


{% block contenido %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{message}}
</div>
{% endfor %}

  {% comment %} <section id="contact" class="contact"> {% endcomment %}
    {% comment %} <div class="container" data-aos="fade-up"> {% endcomment %}
      {% comment %} <div class="row gx-lg-0 gy-4"> {% endcomment %}
        {% comment %} <div class="col-lg-2"></div> {% endcomment %}
        {% comment %} <div class="col-lg-2"> {% endcomment %}


          {% comment %} <form id="formi" name="formi" action="{% url 'index_inspeccion' %}" method="POST"> {% endcomment %}
            {% comment %} {% csrf_token %} {% endcomment %}


            <table>
              {{ contacto_form.as_table }}
            </table>
            {% comment %} <div class="row">
              {% for campo in contacto_form %}
                  <!--Grid column-->
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <label for="name" class="form-label">{{ campo.label }}</label>
                          {{campo}}
                          {% if campo.field.widget.input_type == 'checkbox' %}
                              {{campo}} 
                              <label for="name" class="">{{ campo.label }}</label>
                          {% else %}
                              <label for="name" class="">{{ campo.label }}</label>
                              {{campo}}
                          {% endif %} 
                      </div>
                      <div >{{campo.errors}}</div>
                  </div>
                  <!--Grid column-->
              {% endfor %}  {% endcomment %} 
            <div class="text-center text-md-left mt-3">
              <!-- <label ><em> <b>N° de cuadrícula</b> </em>
              <input  type="text" name="txtName" id="txtName" placeholder="Si queda vacío - Alert JS" >
              </label> -->
              <button class="btn btn-primary" type="submit">Enviar correo </button>
            </div>
          </form>
          
          <!-- <table>  
            <thead>
                <tr>
                    <th>Inspecciones realizadas</th>
                </tr>
            </thead> -->
            <!-- <tbody>
                    {% for i in inspecciones %}
                    <tr>
                        <td>{{i.reclamo}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
          </table> -->

<!-- 
          <div class="text-center text-md-left mt-3">
            <a href="{% url 'carga_inspeccion' %}"><button class="btn btn-primary" type="submit">Cargar inspección</button></a>
            <a href=""><button class="btn btn-primary" type="submit">Cargar certificacion</button></a>
            <a href="{% url 'inspecciones' %}"><button class="btn btn-primary" type="submit">Listar Inspecciones</button></a>
          </div> -->
        </div>
      </div>
    </div>

  </section>
  {% load static %}
  <!-- {% block javascript %}<script src="{% static 'inspeccion/js/script.js' %}"></script>{% endblock javascript %} -->
{% endblock contenido %}

