{% extends 'base/base.html' %}
{% block titulo %}Inspección{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Inspecciones{% endblock etiqueta %}
{% block nav %}
  <nav>
      <div class="container">      
      <ol>     
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Inspecciones</li>
      </ol>      
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}


  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">

          <form id="formi" name="formi" action="{% url 'inspeccion' %}" method="POST">
            {% csrf_token %}

            <table>
              {{ contacto_form.as_table }}
            </table>
            {% comment %} <div class="row">
              {% for campo in contacto_form %}
                  <!--Grid column-->
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <label for="name" class="form-label">{{ campo.label }}</label>
                          {{campo}}
                          {% if campo.field.widget.input_type == 'checkbox' %}
                              {{campo}} 
                              <label for="name" class="">{{ campo.label }}</label>
                          {% else %}
                              <label for="name" class="">{{ campo.label }}</label>
                              {{campo}}
                          {% endif %} 
                      </div>
                      <div >{{campo.errors}}</div>
                  </div>
                  <!--Grid column-->
              {% endfor %}  {% endcomment %} 
            <div class="text-center text-md-left mt-3">
              <label ><em> <b>N° de cuadrícula</b> </em>
              <input  type="text" name="txtName" id="txtName" placeholder="Si queda vacío - Alert JS" >
              </label>
              <button class="btn btn-primary" type="submit">Generar planilla de inspección</button>
            </div>
          </form>
          {{mensaje}}
          <table>  
            <thead>
                <tr>
                    <th>Inspecciones realizadas</th>
                </tr>
            </thead>
            <tbody>
                    {% for i in inspecciones %}
                    <tr>
                        <td>{{i.reclamo}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
          </table>
          <div class="text-center text-md-left mt-3">
            <a href="{% url 'carga_inspeccion' %}"><button class="btn btn-primary" type="submit">Cargar inspección</button></a>
            <a href="{% url 'carga_certificacion' %}"><button class="btn btn-primary" type="submit">Cargar certificacion</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>End Claim Section
{% endblock contenido %}
