{% extends 'base/base.html' %}
{% block titulo %}Nueva Inspección{% endblock titulo %}
{%block css%}
<style>
  label {
    color: #008375;
  }
  div.text-center button {
    width: 180px;
  }
  button#btn-reset {
    background: DarkTurquoise;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  button#btn-reset:hover {
    background: Turquoise;
  }
  button#btn-button {
    background: Crimson;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  button#btn-button:hover {
    background: Red;
  }
  button#btn-codigo {
    background: rgba(4, 33, 149);
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  button#btn-codigo:hover {
    background: rgb(71, 85, 145);
  }
</style>
{%endblock%}
<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Carga de Inspección{% endblock etiqueta %}
{% block nav %}
  <nav>
    <div class="container">
      <ol>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'inspeccion' %}">Inspección</a></li>
        <li>Nueva Inspección</li>
      </ol>
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <form class="php-email-form" id="" name="" action="{% url 'carga_inspeccion' %}" method="POST">
            {% csrf_token %}

            <table class="table">
              {{ form.as_table }}
            </table>



            <div class="row">
              <div class="text-center col-md-4 form-group mt-3 mt-md-0">
                <button id="btn-button" type="button" onclick= "window.history.go(-1); return false;"
                >Volver</button></div>
              <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button id="btn-reset"
                type="reset">Limpiar</button></div>
              <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="submit"
                  class="btn btn-success">Cargar</button></div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
{% endblock contenido %}
