{% extends 'base/base.html' %}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}Carga de inspección{% endblock etiqueta %}
{% block nav %}
  <nav>
    <div class="container">
      <ol>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'inspeccion' %}">Inspecciones</a></li>
        <li>Carga de inspección</li>
      </ol>
    </div>
  </nav>
{% endblock nav %}
<!-- End Breadcrumbs -->

{% block contenido %}
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <form class="php-email-form" id="" name="" action="{% url 'carga_inspeccion' %}" method="POST">
            {% csrf_token %}

            <table class="table">
              {{ nueva_inspeccion.as_table }}
            </table>

            <div class="row">
              <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button"
                  class="btn btn-primary">Cancelar</button></div>
              <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button"
                  class="btn btn-warning">Limpiar</button></div>
              <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button"
                  class="btn btn-success">Cargar</button></div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
{% endblock contenido %}
