



<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>{% block etiqueta %}{% endblock etiqueta %}</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          {% block link %}{% endblock link %}
          <li>{% block tag %}{% endblock tag %}</li>
        </ol>      
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
