
{% extends 'reclamos/base.html' %}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}
{% block contenido %}

<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2><span>Inspección</span></h2>
      </div>
    </div>
  </div>

  <form id="contact-form" name="contact-form" action="{% url 'inicio' %}" method="POST">
    {% csrf_token %}
    {% comment %} {{ contacto_form }} {% endcomment %}
    
    <table>
        {{ contacto_form.as_table }}
    </table>

    {% comment %} <ul>
        {{ contacto_form.as_ul }}
    </ul> {% endcomment %}

    {% comment %} {{ contacto_form.as_p }} {% endcomment %}
    <div class="text-center text-md-left mt-3">
        <button class="btn btn-primary" type="submit">Generar planilla de inspección</button>
    </div>
</form>

<div class="text-center text-md-left mt-3">
    <a href="{% url 'carga' %}"><button class="btn btn-primary" type="submit">Cargar inspección</button></a>
</div>

{% endblock contenido %}
