{% extends 'reclamos/base.html' %}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}


<main id="main"></main>


<!-- ======= Breadcrumbs ======= -->
{% block etiqueta  %}Carga de inspección{% endblock etiqueta  %}
{% block tag  %}Carga de inspección{% endblock tag  %}
{% block link %}
        <li><a href="{% url 'inicio' %}">Inspecciones</a></li>      
{% endblock link %}
<!-- End Breadcrumbs -->

{% block contenido %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
          <div class="col-lg-8">

            <form class="php-email-form" id="" name="" action="{% url 'carga' %}" method="POST">
                {% csrf_token %}      
            
                <table class="table" >
                    {{ nueva_inspeccion.as_table }}
                </table>
                <div class="row">
                  <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button" class="btn btn-primary">Cancelar</button></div>
                  <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button" class="btn btn-warning">Limpiar</button></div>
                  <div class="text-center col-md-4 form-group mt-5 mt-md-0"><button type="button" class="btn btn-success">Cargar</button></div>
                </div>
            </form>
          </div>
        
      </div>
    </div>
</section>
{% endblock contenido %}
