{% extends 'base/base.html' %}
{% block titulo %}
  {% if accion == 'actualizar' %}
    Inspecciones: {{ pk }}
  {% else %}
    Edición Gestion
  {% endif %}
{% endblock titulo %}

{% block css %}
  <style>
    label {
      color: #008375;
    }
    div.text-center button {
      width: 180px;
    }
    button#btn-reset {
      background: DarkTurquoise;
      border: 0;
      padding: 14px 45px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }
    button#btn-reset:hover {
      background: Turquoise;
    }
    button#btn-button {
      background: Crimson;
      border: 0;
      padding: 14px 45px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }
    button#btn-button:hover {
      background: Red;
    }
  </style>
{% endblock css %}

<!-- ======= Breadcrumbs ======= -->
{% block etiqueta %}
  {% if accion == 'actualizar' %}
    Editar Gestion
  {% else %}
    Nuevo Gestion
  {% endif %}
{% endblock etiqueta %}
{% block nav %}
  {% if accion == 'actualizar' %}
    <nav>
      <div class="container">   
        <ol>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
          <li>{{ numero_reclamo }}</li>
        </ol>
      </div>
    </nav>
  {% else %}
    <nav>
      <div class="container">   
        <ol>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li>Gestion Edición</li>
        </ol>
      </div>
    </nav>
  {% endif %}
{% endblock nav %}

<!-- End Breadcrumbs -->

{% block contenido %}
  {% load custom_filters %}
  <!-- ======= Claim Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          {% if messages %}
            {% for message in messages %}
              <div class="messages alert alert-{% if message.tags == 'error' %}warning{% else %}{{ message.tags }}{% endif %}" role="alert">
                {{message}}
              </div>
            {% endfor %}
            <script>
              setTimeout(function() {
                  var messages = document.getElementsByClassName('messages')[0];
                  messages.style.display = 'none';
              }, 5000); // Oculta el mensaje después de 5 segundos
            </script>
          {% endif %}

          <form class="php-email-form" id="reclamo_form" name="gestion_form" action="{{ action_url }}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <!-- Bloque 1: Denunciante -->
            <h4>Datos denunciante</h4>
            <hr>
            <div class="row">
              
                  <!-- <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div> 
                  </div> -->
                  {% for item in object.inspecciones.reclamo.denunciantes.all %}
                  <div> {{item}} </div>
                  {% for key, value in item.items %}
                  <div class="col-md-6 form-group mb-1" >
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{key}} </div>
                    <div> {{value}} </div>
                    <div> {{campo}} </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
            </div>

            <!-- Bloque 2: Reclamo -->
            <br>
            <h4>Datos de reclamo</h4>
            <hr>
            <div class="row">
              {% for campo in form %}
                {% if campo.name == 'detalle' or campo.name == 'detalles' or campo.name == 'observaciones' %}
                  <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div>
                {% else %}
                  <div class="col-md-6 form-group mb-1" >
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- Bloque 3: Inspecciones -->
            <br>
            <h4>Datos de inspeccion</h4>
            <hr>
            <div class="row">
              {% for campo in form %}
                {% if campo.name == 'detalle' or campo.name == 'detalles' or campo.name == 'observaciones_sitio' %}
                  <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div> 
                {% else %}
                  <div class="col-md-6 form-group mb-1" >
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <br>
            <h4>Datos de Gestion</h4>
            <hr>
            <div class="row">
              {% for campo in form %}
                {% if campo.name == 'detalle_gestion' or campo.name == 'detalles' or campo.name == 'observaciones' %}
                  <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div> 
                {% else %}
                  <div class="col-md-6 form-group mb-1" >
                    <label class="form-label" for="{{ campo.name }}">{{ campo.label }}</label>
                    <div> {{ campo }}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="row">
              <div class="text-center col-md-4 form-group mt-3 mt-md-0">
                <button id="btn-button" onclick="window.history.go(-1); return false;" type="button">
                  {% if accion == 'actualizar' %}
                    Cancelar
                  {% else %}
                    Atrás
                  {% endif %}
                </button>
              </div>
              <div class="text-center col-md-4 form-group mt-3 mt-md-0">
                <button id="btn-reset" type="reset">Limpiar</button>
              </div>
              <div class="text-center col-md-4 form-group mt-3 mt-md-0">
                <button type="submit">
                  {% if accion == 'actualizar' %}
                    Actualizar
                  {% else %}
                    Crear
                  {% endif %}
                </button>
              </div>
            </div>
            
          </form>
        </div>

        <div class="input-group mb-3">
            <h3>Primer form</h3>
            <form class="php-email-form" id="" name="gestion_form" action="{% url 'gestion_nuevo' %}" method="POST" >
              

          <!-- Formulario Busqueda -->
            <div class="input-group mb-3">
                <table>
                {{ denunciante_form.as_table }}
                </table>
            </div>
            <div class="input-group mb-3">
                <table>
                {{ reclamo_form.as_table }}
                </table>
            </div>
            <div class="input-group mb-3">
                <table>
                {{ inspeccion_form.as_table }}
                </table>
            </div>
            <div class="input-group mb-3">
                <table>
                {{ gestion_form.as_table }}
                </table>
            </div>
              <div class="input-group-append">
                <button class="btn btn-warning" type="reset">Limpiar</button>
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </form>           
          </div>

      </div>
    </div>
  </section><!-- End Claim Section -->

  {% load static %}
  {% comment %} {% if accion == 'actualizar' %}
    <script>
      // Asignar el valor de las calles seleccionadas a una variable JavaScript
      var accion = 'actualizar';
      var calle0 = {{ calle0 }};
      var calle1 = {{ calle1 }};
      var calle2 = {{ calle2 }};
    </script>
  {% else %}
    <script>
      var accion = 'crear';
    </script>
  {% endif %} {% endcomment %}

  <script src="{% static 'reclamos/js/mostrar_calles.js' %}"></script>
{% endblock contenido %}