{%extends 'base/base_admin.html'%}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}

{% block contenido %}
  <div class="container mt-5 col-lg-8">
      <hr><div class="titulo_tabla" >Update usuarios</div><hr>
  </div>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
          <div class="col-lg-8">

            <form action="" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <table class="table">
                  {{form.as_table }}
                </table>          
                <div class="row mt-5">
                  <div class="text-center col-md-2 form-group mt-5 mt-md-0"><a href="{%url 'orden_compra'%}"><button
                        type="button" class="btn btn-primary">Volver</button></a></div>
                  <div class="text-center col-md-2 form-group mt-5 mt-md-0"><button type="submit"
                      class="btn btn-success">Cargar</button></div>
                </div>    
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Claim Section -->
{% endblock contenido %}
