{%extends 'base/base_admin.html'%}
{% block titulo %}Sistema de Gestión de Reclamos{% endblock titulo %}

{% block contenido %}
  <div class="container mt-5 col-lg-8">
      <hr><div class="titulo_tabla" >Update usuarios</div><hr>
  </div>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-2"></div>
          <div class="col-lg-8">

            <form action="" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <hr>
                <div class="row form-group mb-2">
                    <label class="col-2 col form-label"><b>Usuario:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.0}}"  name="usuario" id=""></div>
                </div>  
                <hr>
                <div class="row form-group mb-2">
                    <label class="col-2 col form-label"><b>Nombre:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.1}}"  name="nombre" id=""></div>
                </div>  
                <hr>
                <div class="row form-group mb-2">
                    <label class="col-2 col form-label"><b>Apellido:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.2}}"  name="apellido" id=""></div>
                </div>  
                <hr>
                <div class="row form-group mb-2">
                    <label class="col-2 col form-label"><b>Contraseña:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.3}}"  name="contraseña" id=""></div>
                </div> 
                <hr>
                <div class="row  form-group mb-2">
                    <label class="col-2 col form-label"><b>Permisos:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.4}}"  name="permisos" id=""></div>
                </div>  
                <hr> 
                <div class="row form-group mb-2">
                    <label class="col-2 col form-label"><b>Legajo:</b></label>
                    <div class="col-10">
                    <input class="form-control"type="text" value="{{usuario.5}}"  name="legajo" id=""></div>
                </div> 
                <hr> 

                <div class="row mt-5">
                    <div class="text-center col-md-4 mt-5 mt-md-0"><button type="submit" class="btn btn-success">Grabar</button></div>
                    <div class="text-center col-md-4 mt-5 mt-md-0"><a href="{%url 'usuario'%}"><button type="button"
                    class="btn btn-primary">Volver</button></a></div>
                </div>           

            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Claim Section -->
{% endblock contenido %}
